<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unirgy\DropshipMicrositePro\Model\TemplateFilter" type="Flexishore\Vendors\Model\Rewrite\TemplateFilter"/>
</config>