@import "fonts.css";

.white_block {
    background: #ffffff;
    padding: 25px 0;
}

.white_block p {
    padding: 0 20px;
}


.block-comment
{
    background-color: #f3a2b4;
    float:left;
}

.title-comment
{
    font-weight: bold;
    font-size: 1.3em;
}

.step
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
}


.center{
    text-align:center;
}

h3.pink-block {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
    color:#ffffff;
    margin-bottom:17px;
}


h3.white-bg {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
}

.pink_line {
    background-color: #f3a2b4;
    height: 2px;
    margin-top: 30px;
}

.white_line {
    background-color: #ffffff;
    height: 2px;
    margin-top: 30px;
}

ul.line{
    list-style: none;
    color: #96c11f;
}

ul.line li:before {
    content: "▅";
    padding-right: 10px;
}

.green{
    color:#96c11f;
}

.footer ul li {
    margin-bottom: 1.3em;
}

.product-info-main{
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 !important;
}

.product-info-main .page-title {
    margin: 20px !important;
    text-align: center;
    font-size: 22px;
}

.product-info-main .price-box.price-final_price{
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}
.product-info-main .price-box .price{
    color: #3c3c3b;
}
.product-info-main .extend-info{
    padding: 20px;
}
.product-info-main .extend-info p{
    text-align: center;
}
.product-info-main .extend-info>p{
    font-size: 18px;
    font-weight: 300;
}
.product-info-main .delivery-block p{
    margin: 0;
}
.product-info-main .delivery-select{
    margin: 20px 0;
}
.product-info-main .delivery-block {
    display: inline-block;
    width: 24.5%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}
.product-info-main .delivery-block:hover{
    border-color: #f3a2b4
}
.product-info-main .delivery-block.active{
    background:#f3a2b4;
    color:white;
}
p.description{
    font-size: 14px;
}
.widget.block.block-static-block h3.white-bg{
    font-family: "Thirsty scrit regular";
}
.cms-home .widget.block.block-static-block h3.pink-block{
    font-family: "Cookie Regular";
    font-size: 50px;
    margin: 5px 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.widget.block.block-static-block.block.newsletter{
    width: 100%;
    padding: 20px 0;
    background: #3c3c3b;
}
.widget.block.block-static-block.block.newsletter form{
    width: 50%;
    margin: auto;
    position: relative;
}
.widget.block.block-static-block.block.newsletter form input{
    background: transparent;
    color: white;
    border-radius: 3px 0 0 3px;
    width: 300px;
}
.widget.block.block-static-block.block.newsletter form .control{
    display: inline-block;
    width: inherit;
}
.widget.block.block-static-block.block.newsletter form label{
    color:white;
    font-family: "Cookie Regular";
    font-size: 25px;
    margin-right: 20px;
}
.widget.block.block-static-block.block.newsletter form .actions{
    position: absolute;
    top: 0;
    right: 40px;
}
.widget.block.block-static-block.block.newsletter form .actions button{
    border-radius: 0 3px 3px 0;
}

#search-by-zip {
    background: #8274a9;
    display: inline-block;
    width: 100%;
}
#search-by-zip img.extend-img{
    float: right;
    max-height: 400px;
    width: auto;
}
#search-by-zip .cms-block{
    color:white;
    font-size: 14px;
}
.wrapper-search{
    position: relative;
}
#search-by-zip .left{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 90px;
    left: 100px;
    max-width: 500px;
}
#search-by-zip-form .form-control{
    width: 250px;
    position: relative;
}
#search-by-zip-form input{
    border-radius: 5px;
    border:1px solid #8274a9;
    width: 100%;
    outline: none;
}
#search-by-zip-form input:focus{
    box-shadow: none;
}
#search-by-zip-form .icon{
    color:#96c11f;
    position: absolute;
    font-size: 18px;
    right: 5px;
    top: 5px;
}
#search-by-zip .arrow{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    background: #8274a9;
    transform: rotate(45deg);
    z-index: 2;
}
@media (max-width: 1200px) {
    .widget.block.block-static-block.block.newsletter form label, .widget.block.block-static-block.block.newsletter form input, .widget.block.block-static-block.block.newsletter form .actions{
        position: static;
        width: 100%;
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    .widget.block.block-static-block.block.newsletter form input{
        padding: 5px;
        border-radius: 3px;
    }
    .widget.block.block-static-block.block.newsletter .field .control:before{
        display: none;
    }
    .widget.block.block-static-block.block.newsletter form .control{
        width: 100%;
    }
    .widget.block.block-static-block.block.newsletter form .actions button{
        border-radius: 3px;
    }
}