@import "fonts.css";

.white_block {
    background: #ffffff;
    padding: 25px 0;
}

.white_block p {
    padding: 0 20px;
}


.block-comment
{
    background-color: #f3a2b4;
    margin: 0;
    width: 100%;
}

.title-comment
{
    font-weight: bold;
    font-size: 1.3em;
}

.step
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
}


.center{
    text-align:center;
}

h3.pink-block {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
    color:#ffffff;
    margin-bottom:17px;
}


h3.white-bg {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
}

.pink_line {
    background-color: #f3a2b4;
    height: 2px;
    margin-top: 30px;
}

.white_line {
    background-color: #ffffff;
    height: 2px;
    margin-top: 30px;
}

ul.line{
    list-style: none;
    color: #96c11f;
}

ul.line li:before {
    content: "▅";
    padding-right: 10px;
}

.green{
    color:#96c11f;
}

.footer ul li {
    margin-bottom: 1.3em;
}

.product-info-main{
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 !important;
}

.product-info-main .page-title {
    margin: 20px !important;
    text-align: center;
    font-size: 22px;
}

.product-info-main .price-box.price-final_price{
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}
.product-info-main .price-box .price{
    color: #3c3c3b;
}
.product-info-main .extend-info{
    padding: 20px;
}
.product-info-main .extend-info p{
    text-align: center;
}
.product-info-main .extend-info>p{
    font-size: 18px;
    font-weight: 300;
}
.product-info-main .delivery-block p{
    margin: 0;
}
.product-info-main .delivery-select{
    margin: 20px 0;
}
.product-info-main .delivery-block {
    display: inline-block;
    width: 24.5%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}
.product-info-main .delivery-block:hover{
    border-color: #f3a2b4
}
.product-info-main .delivery-block.active{
    background:#f3a2b4;
    color:white;
}
p.description{
    font-size: 14px;
}
.widget.block.block-static-block h3.white-bg{
    font-family: "Thirsty scrit regular";
}
.cms-home .widget.block.block-static-block h3.pink-block{
    font-family: "Cookie Regular";
    font-size: 50px;
    margin: 5px 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.widget.block.block-static-block.block.newsletter{
    width: 100%;
    padding: 20px 0;
    background: #3c3c3b;
}
.widget.block.block-static-block.block.newsletter form{
    width: 65%;
    margin: auto;
    position: relative;
}
.widget.block.block-static-block.block.newsletter form input{
    background: transparent;
    color: white;
    border-radius: 3px 0 0 3px;
    width: 330px;
}
.widget.block.block-static-block.block.newsletter form .control{
    display: inline-block;
    width: inherit;
    position: relative;
}
.widget.block.block-static-block.block.newsletter form label{
    color:white;
    font-family: "Cookie Regular";
    font-size: 25px;
    margin-right: 20px;
}
.widget.block.block-static-block.block.newsletter form .actions{
    position: absolute;
    top: 0;
    right: 40px;
}
.widget.block.block-static-block.block.newsletter form .actions button{
    border-radius: 0 3px 3px 0;
}

#search-by-zip {
    display: inline-block;
    width: 100%;
    position: relative;
}
.wrapper-search img.extend-img{
    float: right;
    max-height: 400px;
    width: auto;
}
#search-by-zip .cms-block{
    color:white;
    font-size: 16px;
}
#search-by-zip .cms-block h2{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}
.wrapper-search{
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background: #8274a9;
}
#search-by-zip .left{
    height: 335px;
    margin-top: 100px;
    margin-left: 20px;
}
#search-by-zip-form .form-control{
    width: 250px;
    position: relative;
    margin-top: 30px;
}
#search-by-zip-form input{
    border-radius: 5px;
    border:1px solid #8274a9;
    width: 100%;
    outline: none;
}
#search-by-zip-form input::-webkit-input-placeholder {
    color: #82749a;
}
#search-by-zip-form input::-moz-placeholder {
    color: #82749a;
}
#search-by-zip-form input:-ms-input-placeholder {
    color: #82749a;
}
#search-by-zip-form input:-moz-placeholder {
    color: #82749a;
}
#search-by-zip-form input:focus{
    box-shadow: none;
}
#search-by-zip-form .icon{
    color:#96c11f;
    position: absolute;
    font-size: 18px;
    right: 5px;
    top: 5px;
}
.wrapper-search .arrow{
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 17px solid #8274a9;
}
.widget.block.block-static-block.block.newsletter form .control .mage-error:not(input){
    position: absolute;
    width: 100%;
    top: 40px;
    margin: 0;
    font-size: 10px;
    text-align: center;
}
.cms-home .widget.block.block-static-block .grid12-4 p{
    font-family: "Montserrat";
}
.footer-primary.footer .main-links ul li {
    margin-bottom: 0.5em;
}
.footer-primary.footer .main-links ul li a{
    font-size: 16px;
    font-family: "Montserrat";
}
.footer-primary.footer .main-links span.icon{
    margin-right: 10px;
    vertical-align: middle;
    font-size: 22px;
}

.cms-home .itemslider .product-item-details .left .product-name{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
}
.cms-home .itemslider .product-item-details .left{
    padding-top: 10px;
}
.cms-home .itemslider .product-item-details .left .seller-name{
    font-family: "Montserrat";
    font-size: 13px;
    font-style: italic;
}
.cms-home .itemslider img{
    border: 1px solid #ededed;
}
.cms-home .itemslider .product-item-details .left, .product-item-details .right{
    width: 50%;
    display: inline-block;
    float: left;
}
.cms-home .itemslider a.product-image{
    width: 170px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.product-item-details .right .price-box{
    background: #f3a2b4;
    border-radius: 50%;
    text-align: center;
    float: right;
    margin: 0;
    padding: 30px 10px;
}
.cms-home .itemslider .product-item-details .right .price-box .price{
    color:white;
    font-size: 20px;
}
.cms-home .itemslider .block-title{
    border: 0 !important;
}
.cms-home .itemslider span.city{
    font-family: "Montserrat";
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color:white;
    font-size : 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 3px #000000, 0 0 5px #000000;
}


.products-grid-partitioned .item{
    border: 0 !important;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 15px;
}
.product.details.product-item-details{
    padding: 5px;
}

.seller-info .avatar{
    width: 50px;
    border-radius: 50%;
    vertical-align: bottom;
}
.seller-info{
    border-top: 1px solid #f5f5f5;
    padding-top: 5px;
}
.seller-name{
    line-height: 50px;
}
.products-grid-partitioned .item>.product-item-info{
    border: 2px solid #f5f5f5 !important;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 13px -8px;
    height: 371px;
    padding-bottom: 20px;
}
.catalog-category-view #page-title-heading{
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}
p.toolbar{
    font-size: 16px;
}
.product.name.product-item-name.product-name{
    width: 65%;
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
}
.price-box.price-final_price{
    width: 35%;
    display: inline-block;
    margin: 0;
    float: right;
}
.product.details.product-item-details .price-box .price{
    color:#f3a2b4;
}
.price-box.price-final_price .price-container{
    float: right;
}
.inner-container{
    padding: 0 !important;
}
.header-primary.header.container, .header-primary-container .logo img {
    max-height: 60px;
    width: inherit !important;
}
#search_mini_form #search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f3a2b4;
}
#search_mini_form #search::-moz-placeholder { /* Firefox 19+ */
    color: #f3a2b4;
}
#search_mini_form #search:-ms-input-placeholder { /* IE 10+ */
    color: #f3a2b4;
}
#search_mini_form #search:-moz-placeholder { /* Firefox 18- */
    color: #f3a2b4;
}
#search_mini_form #search{
    border-radius: 5px;
    font-family: Montserrat;
}
#search_mini_form #search:focus{
    border-color:#f3a2b4 !important;
    box-shadow: none !important;
}
#header-account ul.sub-menu{
    position: absolute;
    left: 0;
    top: 45px;
    text-align: left;
    background: rgba(255,255,255,.85);
    z-index: 99999;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: Montserrat;
    display: none;
}
.header-m-primary #header-account .header.links>li>a{
    display: none;
}
.header-m-primary #header-account .header.links>li ul.sub-menu{
    display: block;
    position: static;
    background: inherit
}
#header-account ul.sub-menu span{
    margin-right: 5px;
    font-size: 10px;
}
.header-primary .links > li > *{
    padding: 0 2em;
}
#header-account .header.links li:first-child{
    position: relative;
}
#header-account .header.links li:first-child:hover ul.sub-menu{
 display: block;
}
.cms-home.cms-index-index .main-container>.main.container{
    width: 100%;
    max-width: inherit !important;
}
@media (max-width: 1200px) {
    .widget.block.block-static-block.block.newsletter form label, .widget.block.block-static-block.block.newsletter form input{
        position: static;
        width: 100%;
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    .widget.block.block-static-block.block.newsletter form .control .mage-error:not(input){
        top: 50px;
    }
    .widget.block.block-static-block.block.newsletter form .actions{
        top:10px;
    }
    .widget.block.block-static-block.block.newsletter form input{
        padding: 5px;
        border-radius: 3px;
    }
    .widget.block.block-static-block.block.newsletter .field .control:before{
        display: none;
    }
    .widget.block.block-static-block.block.newsletter form .control{
        width: 100%;
    }
}


.seller-tab{
    display: none;
    padding: 30px 0;
}
.wrapper-seller .seller-block-top{
    background: #f3a2b4;
    color:white;
    padding: 50px 0;
}
.wrapper-tabs{
    background: #e3e3e3;
    color:white;
}
.wrapper-seller .seller-block-top p{
    font-size: 16px;
}
.wrapper-seller h1.title{
    margin: 0;
    text-transform: uppercase;
}
.tabs-seller li{
    display: inline-block;
    float: left;
    padding: 20px;
    font-size: 14px;
    margin: 0;
}
.tabs-seller li.current{
    background:white;
}
.seller-social-icons{
    font-size: 30px;
    text-align: center;
}
.seller-social-icons a,.seller-social-icons a:hover,.seller-social-icons a:link, .seller-social-icons a:focus{
    color:white;
    margin: 5px;
}
.block-review{
    font-size: 16px;
    margin-bottom: 20px;
}
.block-review p.title-review{
    font-weight:bold;
    margin: 15px 0 0 0;
}
.block-review .rating{
    color:#f3a2b4;
}

@media (max-width: 1000px) {
    #search-by-zip .left{
        left: 0;
        font-size: 15px !important;
        right: 0;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    #search-by-zip .left h2{
        font-size: 16px;
        margin: 5px;
    }
    #search-by-zip-form .form-control{
        margin: auto;
    }
}

@media (max-width: 992px) {
    .wrapper-seller .seller-block-top{
        text-align: center;
    }
    .tabs-seller li{
        width: 100%;
        padding: 10px;
    }
}
@media (max-width: 600px) {
    .widget.block.block-static-block.block.newsletter form {
        width: 80%;
        margin: auto;
        position: relative;
    }
    .wrapper-search .arrow{
        display: none;
    }
}