$body-bg: #f6f6f6 !default;

$body-font-color: #525252 !default;
$body-font-family: 'Roboto', sans-serif !default;
$title-font-family: 'Montserrat', sans-serif !default;

$primary-color: #3f94d7 !default; /* Links and buttons */

$highlight-well-bg: saturate(#f4f7f9,10%) !default;

$site-nav-width-default: 46px !default;
$site-nav-width-expanded: 180px !default;

/* Emails */
$email-background: #f3f3f3 !default;

/* Social */
$fb-color: #3b5998 !default;
$twitter-color: #55acee !default;
$gplus-color: #dd4b39 !default;